
extends ../layouts/layout
block style 
    link(rel="stylesheet", href="/css/auth.css") 
block content
    .d-flex.flex-column
        .flex-column.align-items-center.justify-content-center
            .card 
                .card-body 
                    h3.m-4 #{title} 
                    form(action="/login" method="post")
                        .d-flex.flex-column
                            .mb-2
                                input#username(type="text", name="username" class="form-control" placeholder="Введите логин" required) 
                            .mb-2
                                input#password(type="password", name="password" class="form-control" placeholder="Введите пароль" required)
                        .col.d-flex.justify-content-start
                            .form-check
                                label.form-check-label
                                    input(type="checkbox", name="checked-box" class="form-check-input")
                                    | Запомнить?    
                        .col.d-flex.justify-content-end             
                            button.btn.btn-primary.px-3(type='submit') Ввойти    
block script
    script(src="/js/bootstrap.bundle.min.js")