extends ../layouts/layout
block style 
    link(rel="stylesheet", href="/css/main.css") 
block content
    .d-flex.flex-column
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid
                a(href="/" class="navbar-brand mb-0 h1") LOGO
                button.navbar-toggler(
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarText" 
                    aria-controls="navbarText" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarText
                    ui.navbar-nav.mr-auto
                        li.nav-item
                            a(href="/logout" class="nav-link") Выйти    
                span.navbar-text
                    | С возвращением, #{name}